/* Adaptive site  */
@media (max-width: 1023px) {
  .owner-picture img {
    width: 0px;
  }
  .owner-title {
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 35px;
    color: #000000;
    margin: 3% 5%;
    text-align: center;
  }
  .owner-block {
    position: relative;
    border-radius: 100px;
    background-color: #ffffff;
    border-style: solid;
    border-color: #d67327;
    padding: 2% 5%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    width: 300px;
  }
  .owner-img img {
    width: 40px;
    height: 40px;
  }
  .owner-text {
    margin-left: 3%;
  }
  .owner-block h3 {
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: #d67327;
    font-size: 18px;
    display: flex;
    align-items: start;
    margin: 2% 0;
  }
  .owner-block p {
    font-family: Comic Sans MS, Comic Sans, cursive;
    display: flex;
    font-size: 15px;
    align-items: start;
    text-align: start;
    margin: 2% 0;
  }
  .breeding-block-img img {
    width: 0;
  }
  .breeding-title {
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 35px;
    color: #000000;
    margin: 0 5%;
    text-align: center;
  }
  .breeding-block {
    box-sizing: border-box;
    position: relative;
    border-radius: 100px;
    background-color: #ffffff;
    border-style: solid;
    border-color: #d67327;
    padding: 2% 5%;
    margin: 2% 0% 0;
    display: inline-flex;
    align-items: center;
    width: 350px;
    height: 100px;
  }
  .breeding-block-img {
    position: relative;
    display: inline-flex;
    width: 100px;
    justify-content: center;
    margin-top: 5%;
  }
  .breeding-img img {
    width: 40px;
    height: 40px;
  }
  .breeding-text {
    margin-left: 3%;
  }
  .breeding-block h3 {
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: #d67327;
    font-size: 18px;
    display: flex;
    align-items: start;
    margin: 2% 0;
  }
  .breeding-block p {
    font-family: Comic Sans MS, Comic Sans, cursive;
    display: flex;
    font-size: 15px;
    align-items: start;
    text-align: start;
    margin: 2% 0;
  }

  /* Search section */
  .search-list {
    flex-wrap: wrap;
  }
  .search-title {
    font-size: 35px;
    margin: 5% 0 0 0;
  }
  .search-paragraph {
    font-size: 16px;
    text-align: center;
  }
  .search-block {
    margin: 1% 2% 1%;
    width: 350px;
    height: 100px;
  }
  .search-img img {
    width: 40px;
    height: 40px;
  }
  .search-block h3 {
    font-size: 18px;
  }
  .map {
    display: flex;
    justify-content: center;
  }
  .map-img {
    width: 95%;
    border-radius: 30px;
  }
  /* Owners section */
  .accounting {
    flex-wrap: wrap;
  }
  .accounting-list {
    border-radius: 50px;
    height: 460px;
    margin: 0;
  }
  .accounting-picture img {
    width: 90%;
  }
  .accounting-picture-text {
    font-size: 25px;
    width: 90%;
  }
  .accounting-button {
    font-size: 20px;
  }
  .accounting-title {
    font-size: 35px;
  }
  .accounting-block {
    border-radius: 50px;
    width: 300px;
  }
  .accounting-img img {
    width: 40px;
    height: 40px;
  }
  .accounting-block h3 {
    font-size: 18px;
  }
  .accounting-block p {
    font-size: 13px;
  }

  /* Advantages section */
  .advantages {
    flex-wrap: wrap;
  }
  .advantages-list {
    width: 350px;
    height: 300px;
    margin: 0;
  }

  .advantages-picture {
    flex-wrap: wrap;
    width: 350px;
  }
  .advantages-picture img {
    width: 350px;
  }
  .advantages-title {
    font-size: 35px;
  }
  .advantages-block {
    width: 300px;
  }
  .advantages-img img {
    width: 40px;
    height: 40px;
  }
  .advantages-block p {
    font-size: 18px;
  }

  .have-questions img {
    height: 210px;
    border-radius: 0px 50px;
  }
  .have-questions h3 {
    font-size: 35px;
    margin: 10px;
  }
  .have-questions p {
    font-size: 18px;
    margin: 10px;
  }

  .have-questions-btn {
    font-size: 20px;
    padding: 10px 50px;
    width: 50px;
  }

  /* Swiper */

  .feedback-title {
    font-size: 35px;
  }

  .feedback-swiper .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 250px !important;
  }

  .feedback-block {
    width: 320px;
    height: 280px;
  }
  .feedback-img img {
    width: 150px;
    height: 30px;
  }
  .feedback-block h3 {
    font-size: 20px;
  }
  .feedback-block p {
    font-size: 18px;
  }

  /* Owners section */
  .about-list {
    flex-direction: column;
    margin: 0;
  }
  .about-picture {
    width: 300px;
  }
  .about-picture img {
    width: 320px;
  }
  .about-title {
    font-size: 35px;
  }
  .about-block {
    width: 300px;
  }

  .about-block h3 {
    font-size: 32px;
  }
  .about-block p {
    font-size: 20px;
  }

  /* services section styling */

  .about-us .about-content .card {
    width: 250px;
    height: 350px;
    padding: 15px;
    margin-bottom: 2%;
  }

  .about-img {
    width: 40px;
    height: 40px;
  }

  .card-text {
    font-size: 30px;
  }
  .about-us-text h3 {
    font-size: 25px;
  }
  .about-us-text p {
    font-size: 18px;
  }

  .footer {
    padding: 0;
    flex-wrap: wrap;
  }
  .contacts {
    width: 100%;
  }
  .contacts h3 {
    font-size: 22px;
  }

  .contacts a {
    font-size: 15px;
  }

  .media {
    margin-right: 3%;
  }
  .info {
    width: 100%;
  }
  .info h3 {
    font-size: 22px;
  }

  .info p {
    font-size: 16px;
  }

  .copyright p {
    font-family: none;
    padding-top: 4%;
  }
}
