.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-list {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;

    @media screen and (max-width: 1300px) {
        flex-direction: column;
    }
}

.about-picture {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-picture img {
    width: 650px;

    @media screen and (max-width: $bp-desktop) {
        width: 500px;
    }
    @media screen and (max-width: 1300px) {
        width: 0;
    }
}

.about-title {
    font-family:
        Comic Sans MS,
        Comic Sans,
        cursive;
    font-size: 50px;
    color: #000000;
    text-align: center;
}

.about-block {
    position: relative;
    padding: 10px 20px;
    margin-bottom: 3%;
    display: inline-flex;
    align-items: center;
    width: 750px;

    @media screen and (max-width: $bp-tablet) {
        width: 470px;
    }
    @media screen and (max-width: $bp-mobile) {
        width: 300px;
    }
}

.about-block h3 {
    font-family:
        Comic Sans MS,
        Comic Sans,
        cursive;
    color: #d67327;
    font-size: 48px;
    display: flex;
    align-items: start;

    @media screen and (max-width: $bp-desktop) {
        font-size: 40px;
    }
    @media screen and (max-width: $bp-mobile) {
        font-size: 30px;
    }
}

.about-block p {
    font-family:
        Comic Sans MS,
        Comic Sans,
        cursive;
    display: flex;
    font-size: 33px;
    align-items: start;
    text-align: start;

    @media screen and (max-width: $bp-desktop) {
        font-size: 28px;
    }
    @media screen and (max-width: $bp-mobile) {
        font-size: 20px;
    }
}

/* services section styling */

.about-width {
    max-width: 100%;
    margin: auto;
    // @media screen and (max-width: 1600px) {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    // }
}

.about-us .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    // @media screen and (max-width: 1600px) {
    //     flex-wrap: nowrap;
    //     padding: 1% 1%;
    //     width: 1000px;
    //     justify-content: flex-start;
    //     overflow:scroll;
    //     overflow-y: hidden;
    //     scrollbar-width: thin;
    //     scrollbar-color: #e47018 white;
    // }
}

.about-us .about-content .card {
    font-family:
        Comic Sans MS,
        Comic Sans,
        cursive;
    width: 220px;
    height: 400px;
    background: transparent;
    text-align: center;
    padding: 40px;
    transition: all 0.3s ease;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.15);
    margin-left: 1%;
    border-radius: 10%;

    @media screen and (max-width: $bp-tablet) {
        width: 180px;
        height: 290px;
    }
}

.about-img {
    border-radius: 20%;
    border: #e47018 solid;
    padding: 5%;
    width: 35px;
    height: 35px;

    @media screen and (max-width: $bp-tablet){
    width: 20px;
    height: 20px;
    }
}

.about-us-text {
    margin-left: 3%;
}

.about-us-text h3 {
    font-family:
        Comic Sans MS,
        Comic Sans,
        cursive;
    color: #d67327;
    font-size: 28px;
    display: block;
    text-align: center;
    margin: 2% 0;

    @media screen and (max-width: $bp-tablet) {
        font-size: 20px;
    }
}

.about-us-text p {
    font-family:
        Comic Sans MS,
        Comic Sans,
        cursive;
    color: #606060;
    display: flex;
    font-size: 20px;
    align-items: center;
    text-align: center;
    margin: 2% 0;

    @media screen and (max-width: $bp-tablet) {
        font-size: 15px;
    }
}
