.advantages {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $bp-laptop) {
        flex-wrap: wrap;
    }
}

.advantages-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 700px;
    height: 500px;
    overflow: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #e47018 white;
    margin-bottom: 50px;

    @media screen and (max-width: $bp-mobile) {
        height: 300px;
    }
}

.advantages-picture {
    display: inline-flex;
    border-radius: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.advantages-picture img {
    width: 650px;

    @media screen and (max-width: $bp-desktop) {
        width: 550px;
    }
    @media screen and (max-width: $bp-laptop) {
        width: 0;
    }
}

.advantages-title {
    font-family:
        Comic Sans MS,
        Comic Sans,
        cursive;
    font-size: 50px;
    color: #000000;
    text-align: center;

        @media screen and (max-width: $bp-mobile) {
        font-size: 35px;
    }
}

.advantages-block {
    position: relative;
    border-radius: 100px;
    background-color: transparent;
    border-style: solid;
    border-color: #d67327;
    padding: 10px 40px;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    width: 550px;

    @media screen and (max-width: $bp-desktop) {
        width: 380px;
    }
    @media screen and (max-width: $bp-mobile) {
        width: 260px;
        padding: 5px 15px;
    }
}

.advantages-img img {
    width: 40px;
    height: 40px;
}

.advantages-block p {
    font-family:
        Comic Sans MS,
        Comic Sans,
        cursive;
    color: #d67327;
    font-size: 28px;
    display: flex;
    align-items: start;
    margin: 2% 0;

    @media screen and (max-width: $bp-desktop) {
        font-size: 24px;
    }
    @media screen and (max-width: $bp-mobile) {
        font-size: 18px;
    }
}
