.swiper-title {
    font-family:
        Comic Sans MS,
        Comic Sans,
        cursive;
    font-size: 40px;
    color: #000000;
    margin: 4% 5%;
    text-align: center;
}

.swiper {
    margin-top: 0%;
    margin-bottom: 4%;
    width: 1300px;
    height: 100%;


    @media screen and (max-width: $bp-desktop) {
        width: 1100px;
    }
    @media screen and (max-width: $bp-laptop) {
        width: 850px;
    }
    @media screen and (max-width: $bp-tablet) {
        width: 600px;
    }
    @media screen and (max-width: 600px) {
        width: 500px;
    }
    @media screen and (max-width: $bp-mobile) {
        width: 350px;
    }
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 140px !important;
    left: auto;
    --swiper-theme-color: #d67327;
    --swiper-navigation-size: 54px;
    @media screen and (max-width: $bp-laptop) {
        right: 50px !important;
    }
    @media screen and (max-width: $bp-mobile) {
        right: 0px !important;
        --swiper-navigation-size: 34px;
    }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 140px !important;
    right: auto;
    --swiper-theme-color: #d67327;
    --swiper-navigation-size: 54px;
    @media screen and (max-width: $bp-laptop) {
        left: 50px !important;
    }
    @media screen and (max-width: $bp-mobile) {
        left: 0px !important;
        --swiper-navigation-size: 34px;
    }
}

.swiper-block {
    position: relative;
    border-radius: 100px;
    background-color: #ffffff;
    border-style: solid;
    border-color: #d67327;
    padding: 2% 5%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    width: 700px;

    @media screen and (max-width: $bp-desktop) {
        width: 600px;
    }
    @media screen and (max-width: $bp-laptop) {
        width: 400px;
    }
    @media screen and (max-width: $bp-tablet) {
        width: 290px;
    }
    @media screen and (max-width: 600px) {
        width: 240px;
    }
}

.swiper-img {
    display: inline-flex;
}

.swiper-img img {
    width: 60px;
    height: 60px;

    @media screen and (max-width: $bp-laptop) {
        width: 40px;
        height: 40px;
    }
}

.swiper-text {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.swiper-block h3 {
    font-family:
        Comic Sans MS,
        Comic Sans,
        cursive;
    color: #d67327;
    font-size: 35px;
    display: flex;
    align-items: start;
    text-align: start;
    margin: 2% 0;

    @media screen and (max-width: $bp-laptop) {
        font-size: 25px;
    }
    @media screen and (max-width: 600px) {
        font-size: 20px;
    }
}

.swiper-block p {
    font-family:
        Comic Sans MS,
        Comic Sans,
        cursive;
    display: flex;
    font-size: 28px;
    align-items: start;
    text-align: start;
    margin: 2% 0;

    @media screen and (max-width: $bp-laptop) {
        font-size: 20px;
    }
    @media screen and (max-width: 600px) {
        font-size: 15px;
    }
}
